@font-face {
  font-family: Poppin;
  src: url("../../assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("../../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
