@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/fonts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

button {
  font-family: "Outfit", Helvetica;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
