@use "../../styles/partials/responsive" as *;

.moviecard {
  display: flex;
  background-color: #090909;
  color: white;
  padding: 1rem;
  border-radius: 1.4rem;
  margin: 0.5rem;
  align-items: center;

  @include media-tablet {
    padding: 3rem;
    margin: 1.5rem;
  }

  @include media-desktop {
    padding: 2rem;
    border-radius: 2.5rem;
    width: 60rem;
    margin: 2rem;
  }

  h1 {
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;

    @include media-desktop {
      font-size: 2.4rem;
      line-height: 3rem;
      padding-bottom: 1rem;
    }
  }

  p {
    text-transform: capitalize;
  }

  &__image {
    border-radius: 1rem;
    border: 1px solid white;
    height: 11rem;
    object-fit: cover;
    width: 30%;

    @include media-tablet {
      width: 15rem;
      height: 19rem;
    }
  }

  &__details {
    margin-left: 2rem;
    width: 70%;

    @include media-desktop {
      margin-left: 3rem;
    }

    p {
      font-size: 1.2rem;

      @include media-desktop {
        font-size: 1.4rem;
      }
    }
  }

  &__type {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 7rem;
    border-radius: 5px;
    height: 3rem;
    margin-top: 0.5rem;

    @include media-desktop {
      margin-top: 1rem;
    }

    p {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &:hover {
    background: rgba(57, 0, 0, 0.9);
  }
}
