@use "../../styles/partials/responsive" as *;

.landingstyle {
  background-color: black;
  color: white;
  padding: 5rem;
}

.movielist {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-desktop {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
